.inicio-container {
    text-align: center;
    padding: 20px;
  }
  
  .inicio-title {
    font-size: 2rem;
    color: #333;
  }
  
  .inicio-subtitle {
    font-size: 1.5rem;
    color: #666;
  }
  
  .inicio-description {
    font-size: 1rem;
    color: #444;
  }
  
  